{% extends "base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block body %}
{% block content %}

<div class="page-content-wrap">
	
	<div class="row">
		<div class="col-md-12">
			
			<div class="panel panel-default">
				{% block head_title %}
				<div class="panel-heading">                                
                    <h1 class="panel-title">{% trans "Sign Out" %}</h1>                                  
                </div>
                {% endblock %}
				<div class="panel-body">
					<h4>{% trans "Sign Out" %}</h4>

					<p>{% trans 'Are you sure you want to sign out?' %}</p>

					<form method="post" action="{% url 'account_logout' %}">
					  {% csrf_token %}
					  {% if redirect_field_value %}
					  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
					  {% endif %}
					  <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% endblock %}