{% extends "extend.html" %}

{% load i18n %}
{% load account %}

{% block body%}
{% block content %}
<div class="page-content-wrap">
     <div class="panel panel-default">
        <div class="panel-heading"> 
        {% block head_title %}                               
        	<h3 class="panel-title">{% trans "Password Reset" %}</h3> 
        {% endblock %}                                 
        </div>
        <div class="panel-body">    
        	<h4>{% trans "Password Reset" %}</h4>
    
		    {% if user.is_authenticated %}
		    {% include "account/snippets/already_logged_in.html" %}
		    {% endif %}
		    
		    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
		</div>
	</div>
</div>
{% endblock %}

{% endblock %}
