{% extends "extend.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block body %}
{% block content %}
<div class="page-content-wrap">
     <div class="panel panel-default">
        <div class="panel-heading"> 
        {% block head_title %}                               
        	<h3 class="panel-title">{% trans "Change Password" %}</h3> 
        {% endblock %}                                 
        </div>
        <div class="panel-body">
			<h4>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h4>

			{% if token_fail %}
			{% url 'account_reset_password' as passwd_reset_url %}
			<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>

			{% else %}
			{% if form %}
			<form method="POST" action="" class="form-horizontal">
			  {% csrf_token %}
			  <div class="input-group" style="width: 1000px;">
			  	 {{ form.password1|add_class:'form-control' }}
			  </div>
			  <br>
			  <div class="input-group" style="width: 1000px;">
			  	{{ form.password2|add_class:'form-control'}}
			  </div>
			  <br>
			  <div class="form-actions">
			    <button class="btn btn-default" type="submit">{% trans "Change Password" %}</button>
			  </div>
			</form>
			{% else %}
			<p>{% trans 'Your password is now changed.' %}</p>
			{% endif %}
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
{% endblock %}