{% extends "extend.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block body%}
{% block account_content %}
<div class="page-content-wrap">
     <div class="panel panel-default">
        <div class="panel-heading"> 
        {% block head_title %}                               
            <h3 class="panel-title">{% trans "Change Password" %}}</h3>  
        {% endblock %}                                
        </div>
        <div class="panel-body">
			{% block account_nav_change_password %}active{% endblock %}
		    <form method="POST" action="" class="password_change">
		        {% csrf_token %}
		        {{ password_change_form.as_p }}
		        <div class="form-actions">
		          <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
		        </div>
		    </form>
		</div>
	</div>
</div>
{% endblock %}
{% endblock %}
