{% extends 'base.html' %}
{% load widget_tweaks %}


{% block body %}
{% block content %}
<div class="page-content-wrap">
	<div class="row">
        <div class="col-md-12">
          {% for message in messages %}
            <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}" style="background-color: #1CAF9A; color: #fff;">
                {# close-href is used because href is used by bootstrap to closing other divs #}
                <a class="close" data-dismiss="alert"{% if message.pk %} close-href="{% url 'message_mark_read' message.pk %}"{% endif %}>×</a>
                {{ message|safe }}
            </div>
        {% endfor %}
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal" method="post" action="{% url 'inward:edit_inward' inward.id %}">
				{% csrf_token %}
				<div class="panel panel-default">
					<div class="panel-heading">
						{% block header %}
							<h3 class="panel-title"><strong>Edit Inward</strong></h3>
						{% endblock header %}						
					</div>
					
					<div class="panel-body">
						<p>Editing existing inward correspondence. <strong><a href="{% url 'inward:inward_list' %}">{{ inward.received_from }}</a></strong></p>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-md-3 control-label" for="id_date_of_letter">Date of letter:</label>
									<div class="col-md-9">
										<div class="input-group">
											<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
											{{ form.date_of_letter|add_class:'form-control datepicker' }}
										</div>
										<span class="help-block"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="id_date_received">Date received:</label>
									<div class="col-md-9 col-xs-12">
										<div class="input-group">
											<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
											{{ form.date_received|add_class:'form-control datepicker' }}
										</div>
										<span class="help-block"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="id_received_from">Received from:</label>
									<div class="col-md-9 col-xs-12">
										<div class="input-group">
											<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
											{{ form.received_from|add_class:'form-control' }}
										</div>
										<span class="help-block"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="id_ref_no">Ref no:</label>
									<div class="col-md-9 col-xs-12">
										<div class="input-group">
											<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
											{{ form.ref_no|add_class:'form-control' }}
										</div>
										<span class="help-block"></span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="id_subject">Subject</label>
									<div class="col-md-9 col-xs-12">
										<div class="input-group">
											<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
											{{ form.subject|add_class:'form-control' }}
										</div>
										<span class="help-block"></span>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								
								<div class="form-group">
									<label class="col-md-3 control-label" for="id_officer_to">Officer to:</label>
									<div class="col-md-9 col-xs-12">
										<div class="input-group">
											<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
											{{ form.officer_to|add_class:'form-control' }}
										</div>
										<span class="help-block">Officer to whom file is passed</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="id_date_filed">Date filed:</label>
									<div class="col-md-9 col-xs-12">
										<div class="input-group">
											<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
											{{ form.date_filed|add_class:'form-control datepicker' }}
										</div>
										<span class="help-block">Date recorded</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-md-3 control-label" for="id_file_number">File number:</label>
									<div class="col-md-9 col-xs-12">
										<div class="input-group">
											<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
											{{ form.file_number|add_class:'form-control' }}
										</div>
										<span class="help-block">Complaint, purpose or issue</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer">
						<button name="submit" class="btn btn-info pull-right input-md">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% endblock %}